.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 644px;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  animation-duration: 1000ms;
  background-image: url("images/Adrit_Rao_WWDC.png");
  background-position: 50% 50%;
  margin: 65px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 13px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  width: 470px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 9px 335px 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  animation-duration: 1000ms;
  margin: 13px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 357px;
    margin-top: 8px;
  }

  .u-section-1 .u-text-3 {
    width: 437px;
    margin-top: 14px;
    margin-left: 252px;
    margin-right: 252px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 55px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 142px;
    margin-right: 142px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 46px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-3 {
    width: 470px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 12px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
}